python-dateutil>=2.6.1
torch>=1.1.0,<1.8.0
gensim>=3.4.0
pytest>=5.3.2
tqdm>=4.26.0
segtok>=1.5.7
Cython>=0.29.21
matplotlib==3.1.0
mpld3==0.3
sqlitedict>=1.6.0
deprecated>=1.2.4
hyperopt>=0.1.1
transformers>=2.10.0
bpemb>=0.2.9
regex
tabulate
langdetect
urllib3<1.25,>=1.20
torchvision>=0.6.0
ipython==7.6.1
ipython-genutils==0.2.0
pymongo
nltk>=3.5
hunspell>=0.5.5
tesserocr==2.5.0
BeautifulSoup4>=4.9.1
torchtext>=0.5.0,<0.9.0
configargparse>=1.2.3
scikit-learn>=0.21.3
opencv-python==4.1.2.30
tiny_tokenizer==3.0.1
